<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <img class="instagram-logo"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1200px-Instagram_logo.svg.png"
        width="100">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="paper-plane"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-justify-content-between">
    <ion-col *ngFor="let i of [0,1,2,3,4,5]" size="auto">
      <ion-avatar class="story-avatar">
        <img [src]="'https://randomuser.me/api/portraits/women/' + (43+i) + '.jpg'" alt=""></ion-avatar>
    </ion-col>
  </ion-row>

  <ion-card *ngFor="let p of photos">
    <ion-card-header>
      <ion-row class="ion-align-items-center">
        <ion-col size="auto">
          <ion-avatar class="feed-avatar">
            <img [src]="'https://randomuser.me/api/portraits/women/'+p.user.id+'.jpg'" alt="">
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-card-title>{{p.user.name}}</ion-card-title>
          <ion-card-subtitle>{{p.place}}</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <img [src]="'https://picsum.photos/id/'+(p.id)+'/500'" alt="">
    <ion-card-content>
      <ion-row class="ion-margin-bottom">
        <ion-col size="auto" class="ion-no-padding">
          <ion-button fill="clear" color="danger" (click)="p.liked = !p.liked">
            <ion-icon [class.novo-like]="p.liked" slot="icon-only" [name]="p.liked ? 'heart' : 'heart-outline'">
            </ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto" class="ion-no-padding">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto" class="ion-no-padding">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="paper-plane-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto" class="ion-no-padding" style="margin-left: auto">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      {{p.description}}<br>
      <small>
        Ver todos os {{p.comment_count}} comentários
      </small>
    </ion-card-content>
  </ion-card>

</ion-content>