<ion-header>
  <ion-toolbar>
    <ion-title>Feed</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-margin">
    <ion-col size="auto" *ngFor="let i of [1,2,3,4,5,6]">
      <ion-avatar class="user-avatar">
        <img [src]="'https://randomuser.me/api/portraits/women/'+i+'.jpg'" alt="">
      </ion-avatar>
    </ion-col>
  </ion-row>

  <ion-card *ngFor="let p of photos">
    <ion-card-header>
      <ion-row>
        <ion-col size="auto">
          <ion-avatar class="user-avatar">
            <img src="https://randomuser.me/api/portraits/women/11.jpg" alt="">
          </ion-avatar>
        </ion-col>
        <ion-col>
          <ion-card-title>Usuário XYZ</ion-card-title>
          <ion-card-subtitle>Lugar</ion-card-subtitle>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <img
        [src]="'https://picsum.photos/id/'+(p.id)+'/360'"
        class="square">
      <ion-row>
        <ion-col size="auto">
          <ion-button fill="clear" (click)="toggleLike(p)" color="danger">
            <ion-icon slot="icon-only" [name]="'heart' + (p.liked? '' : '-outline')"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="chatbubble-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="send-outline"></ion-icon>
          </ion-button>
        </ion-col>
        <ion-col size="auto" style="margin-left: auto">
          <ion-button fill="clear">
            <ion-icon slot="icon-only" name="bookmark-outline"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>