<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button>
        <ion-icon slot="icon-only" name="camera"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <img class="instagram-logo"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1200px-Instagram_logo.svg.png"
        width="100">
    </ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="paper-plane"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-justify-content-between">
    <ion-col *ngFor="let i of [0,1,2,3,4,5]" size="auto">
      <ion-avatar class="story-avatar">
        <img [src]="'https://randomuser.me/api/portraits/women/' + (43+i) + '.jpg'" alt=""></ion-avatar>
    </ion-col>
  </ion-row>

  <app-photo-card [photo]="p" *ngFor="let p of photos"></app-photo-card>

</ion-content>