<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Cadastrar cidade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" class="ion-margin" (click)="create()">
    <ion-icon slot="start" name="location"></ion-icon>
    Pegar localização atual
  </ion-button>
  <ion-list>
    <ion-item>
      <ion-searchbar placeholder="Buscar cidade"> </ion-searchbar>
    </ion-item>
    <ion-item *ngFor="let i of [1,2,3,4,5,6,7]" button (click)="create()">
      <ion-label>Awesome Label</ion-label>
    </ion-item>
  </ion-list>

</ion-content>