<ion-menu contentId="nome-do-conteudo" menuId="profile-menu" side="end" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Título do Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-item button routerLink="/">
      <ion-label>Arquivar</ion-label>
    </ion-item>
    <ion-item button routerLink="/">
      <ion-label>Informações</ion-label>
    </ion-item>
    <ion-item button routerLink="/">
      <ion-label>Atividade</ion-label>
    </ion-item>
    <ion-item button routerLink="/">
      <ion-label>Código QR</ion-label>
    </ion-item>
  </ion-content>
</ion-menu>

<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>

    <ion-buttons slot="end">
      <ion-menu-button menu="profile-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-router-outlet id="nome-do-conteudo"></ion-router-outlet>
  <ion-row class="ion-align-items-center ion-margin">
    <ion-col size="auto">
      <ion-avatar class="user-avatar">
        <img src="https://randomuser.me/api/portraits/men/50.jpg" alt="">
      </ion-avatar>
    </ion-col>
    <ion-col class="ion-text-center">
      <strong>100</strong>
      Publicações
    </ion-col>
    <ion-col class="ion-text-center">
      <strong>1000</strong>
      Seguidores
    </ion-col>
    <ion-col class="ion-text-center">
      <strong>1100</strong>
      Seguindo
    </ion-col>
  </ion-row>

  <div class="ion-margin">
    <p><strong>João da Silva</strong></p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam aspernatur inventore commodi suscipit sed.
    </p>
  </div>

  <ion-row>
    <ion-col size="4" *ngFor="let i of [1,2,3,4,5,6,7,8,9,10,11,12,13]">
      <img [src]="'https://picsum.photos/id/'+(i*10)+'/127'" alt="">
    </ion-col>
  </ion-row>
</ion-content>